.button-i141423051-xzFrvd {
  color: #cd424a;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-kturDx {
  border-radius: 8px;
  height: 40px;
  opacity: 1;
  position: relative;
}
.x1414230 {
  height: 40px;
  left: 702px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3858px;
  width: 140px;
}
